/*// my colors
// --------------------------------------------------

// #fffdf7 very very pale yellow
 //#a32716  angular red aprox
*/

* {
	box-sizing: border-box;
}


html{
	font-size: 18px;
}

body{
font-family: Lato, sans-serif;
line-height: 2.5;

	font-size: 100%;
	font-weight: 400;

background-color: #e7eaf2;
	background-image: url('img/horses-bg.jpg') ;
}
body, div, p, section, article, form, input, a, button, nav, table, td, tr, hr, ul, li{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6{
			font-family: Oswald, sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			color:#00b6d9;
}


input[type='text']{
	outline:none;
	margin: 1rem 1.25rem;
	padding:.7rem;
	background-color: #fffdf7;
	border: 1px dotted #00a39e;
	width: 50%;
}
input[type='text']:focus{
	box-shadow: 0 0 8px #15a4b6;
	border: 1px solid #15a4b6;

}
input[placeholder]{
	font-family: PT Mono;
	color: #00b6d9;
	/*not placeholder color but entry color ?? */
}

label{
	margin-left: 1.2em;
}

a {
	font-size: 1rem;
	color: #1e43b6;
	text-decoration: none;
	border-bottom: 1px dotted #1e43b6;
}
hr {
border: 1px solid #00a39e;
}

button{
    font-family: PT Mono;
    letter-spacing:.02em;
    background-color: #00b6d9;
    padding:1em;
    /*padding-top:.8em;*/
    color: #fff;
    box-shadow: none;
    border: none;
}
.header>img{
	max-width: 100%;
	margin: 10px auto;
	/*padding: 0;*/
	display: block;
}

.header>h3{
	position:absolute;

	z-index: 150;
}
.logo-items{
	position:absolute;
	max-height: 116px;
	margin:0 auto;
}
.error{
	margin-top:-20px;
	padding-bottom:10px;
	color:#a32716;
	font-family: inherit;
	font-size:.6em;
	font-style:italic;
	font-weight:bold;

}

/*.redButt{
	background:#a32716;
	padding: 1em;
	text-transform:uppercase;
	color:#fff;
	float: right;
	box-shadow: none;
	border:none;

}*/

/*layout*/

.clear,.clearfix{
  clear:both
}
.clear:after,.clearfix:after{
  content:" ";
  display:block;
  height:0;
  font-size:0;
  clear:both;
  visibility:hidden
}
.outer{

	width:100%;
	height:100%;

	overflow:auto;

}
.container{
	/*  flex: 1 100%;*/
	width:90%;
	margin: 1em auto;
	padding:0 20px;
	padding-bottom: 800px;
	background:rgba(255,255,255,.5);
	border: 1px dotted #00b6d9;
	/*overflow:auto;*/
	/*position: absolute;*/
	z-index: 150;
}
/*.looking{

}*/
.found, .looking{
	margin-left: 12px;
}
.query-box{
	margin-top: 2em;
	background-color: rgba(255,255,255,.2);
	border: 1px dotted #00a39e;
	/*position: absolute; why does this shrink the box width ?*/

}
.results-box{
	background-color: rgba(255,255,255,.2);
	border: 1px dotted #00a39e;

}
.thumb{
    padding: 14px;
}

/*media queries*/
@media (max-width: 600px) {

  input[type=text]
 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
 input[type=text]
 {
    width: 40%;
  }
}


